<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="DangGuDANAWA.Activity" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />
	<application android:icon="@drawable/billiardicon"
		android:label="@string/app_name" android:debuggable = "true">
		<activity android:name=".MainUIActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="portrait">
		</activity>
		<activity android:name=".CameraConfiguration"
			android:screenOrientation="landscape" />
		<activity android:name=".Loading" android:label="@string/loading"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait" />
		<activity android:name=".Intro" android:screenOrientation="portrait"
			android:theme="@style/Theme.FullScreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SimulationHelpText" android:theme="@style/Theme.CustomDialog"
			android:label="@string/app_simulation_help"
			android:screenOrientation="portrait" />
		<activity android:name=".Empty" android:theme="@style/Theme.CustomDialog"
			android:label="@string/app_simulation_help"
			android:screenOrientation="portrait" />
		<activity android:name=".FreeModeHelpText" android:theme="@style/Theme.CustomDialog"
			android:label="@string/app_freemod_help" android:screenOrientation="portrait" />
	</application>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>
